<app-navbar></app-navbar>
<div class="pagina-inicial">
  <h1>Bem-vindo à nossa loja online!</h1>
  <p>Confira nossos produtos e aproveite as melhores ofertas.</p>

  <div class="produtos">
    <div class="produto">
      <img src="" alt="Produto 1">
      <h3>Produto 1</h3>
      <p>Descrição do Produto 1</p>
    </div>

    <div class="produto">
      <img src="" alt="Produto 2">
      <h3>Produto 2</h3>
      <p>Descrição do Produto 2</p>
    </div>

    <!-- Adicione mais produtos aqui -->
  </div>
</div>

